#start {
    background-color: purple;
    color: white;
    border: none;
    
}

h1 {
    text-align: center;
}


.questions {
    text-align: center;
}

.btn {    
    text-align: center;


}

#viewHscores {
    background-color: purple;
    color: white;
    border: none;
    /* float: left; */
    

}